body{
    background: black;
}
.head #A{
    color:green;
    margin: auto;
}
.head #A:hover{
    color: brown;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.head #B{
    color: aqua;
    margin: auto;
    margin: 8px;;
}
input{
    width: 100%;
    height: 20px;;
    outline: none;
    border: none;
    background:silver;
    margin: 4px 2px;
    border-radius: 5px;
    padding: 7px;
}
input:hover{
    background:burlywood;
    font-size: 20px;
    color:sienna;
    transform: scale(1.0);
}
.price input{
    width:25%;
}
.price small{
    background: #ff0000;
    border-radius:5px ;
    border: 3px double gray;
}
.price small::before{
    content: "total:";
}
#create{
    width: 100%;
    height: 30px;
    border-radius:10px ;
    border: none;
    margin:3px;
    padding: 7px;
    color: aqua;
    background:seagreen ;
    cursor:pointer ;
}
#create:hover{
    background-color: burlywood;
    transform: scale(1.1);
    font-size: medium;
    color: blueviolet;
    letter-spacing: 1px;
}
.Asearch{
    display:flex;
    justify-content: space-between;
}
.Asearch button{
    width: 45%;
    height: 30px;
    border-radius:10px ;
    border: none;
    margin:3px;
    padding: 7px;
    color: aqua;
    background:seagreen ;
    cursor:pointer ;
}
.Asearch button:hover{
    background-color: burlywood;
    transform: scale(1.1);
    font-size: medium;
    color: blueviolet;
    letter-spacing: 1px;
}
#Delete button{
    width: 100%;
    height: 30px;
    border-radius:10px ;
    border: none;
    margin:3px;
    padding: 7px;
    color: aqua;
    background:seagreen ;
    cursor:pointer ;
}
#Delete button:hover{
    background-color: burlywood;
    color: blueviolet;
}
table{
    width: 100%;
    text-align: center;
    color:white;
}
table button{
    width: 100%;
    height: 30px;
    border-radius:10px ;
    border: none;
    margin:3px;
    padding: 7px;
    color: aqua;
    background:seagreen ;
    cursor:pointer ;
}
table button:hover{
    background-color: burlywood;
    color: blueviolet;
}
.head #Dark{
    position:absolute;
    right:0px;
    background:#ff0000;
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.head #light{
    position:absolute;
    right:0px;
    background:#ff0000;
    color:black;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.hide{
    display:none;
    cursor: pointer;
}
#scro{
    background:green;
    width: 20px;
    height: 20px;
    margin: 2px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}
#logout{
    background:green;
    width: 100%;
    height: 30px;
    border:5px double gray;
    border-radius:5px;
    margin: 2px;
}
#logout:hover{
    background-color: burlywood;
    transform: scale(1.1);
    font-size: medium;
    color: blueviolet;
    letter-spacing: 2px;
}
.game{
    width: 253px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    margin: auto;
    font-weight: 500;
}
.title{
    background:silver;
    padding: 5px 0;
    margin: 5px 0;
}
.span{
    color: yellow;
}
.square{
    width: 80px;
    height: 80px;
    background:silver ;
    float: left;
    margin:2px;
    font-size: 50px;
}
.square:hover{
    background:sandybrown ;
    cursor: pointer;
}
h2{
    color: aquamarine;
    text-align: center;
}
h2:hover{
    color: blueviolet;
    font-size: 32px;
}
 /* .title{
    font-family: ;
 }
 body{
    background-color: black;
    color: wheat;
 }
.item{
    width: 70%;
    margin: auto;
}
input{
    width: 100%;
    padding: 10px 0;
    margin-bottom:5px ;
    border: 2px brown solid;
    border-radius: 15px;
    transition: all 1s;
}
input:hover{
    transform: scale(1.1)
} */